/*
Theme Name: Plasterdog Right Column
Theme URI: http://jeffmcnear.com
Author: jeff mcnear
Author URI: http://jeffmcnear.com
Description: this is a custom theme created using the underscores starter theme.
Version: 1.5
*/
/*-- related to easy digital downloads --*/
.edd-submit.button, .edd-submit.button.gray, .edd-submit.button:visited{ color:#fff;  background:#322215 none repeat scroll 0% 0%;  border:#322215 3px solid;  text-decoration:none}

.edd-submit.button.gray:active, .edd-submit.button.gray:focus, .edd-submit.button.gray:hover, .edd-submit.button:active, .edd-submit.button:focus, 
.edd-submit.button:hover{ color:#322215;  background:#fff none repeat scroll 0% 0%;  border:#322215 3px solid}

#edd-purchase-button, .edd-submit, input.edd-submit[type="submit"]{ display:inline-block;  padding:8px 12px;  margin:0 0 2em 0;  font-size:1em;  font-weight:bold;  line-height:1.42857;  text-align:center;  white-space:nowrap;  vertical-align:middle;  cursor:pointer;  border:1px solid #CCC;  -webkit-border-radius:10px;  border-radius:10px;  box-shadow:none;  -moz-user-select:none}

/*---------------Links-----------------------------*/
a{ color:#002b44}
a:visited{ color:#002b44}
a:hover, a:focus, a:active{ color:#00649c}

/*-- HOME PAGE --*/
.landing-third-1{ float:left;  width:31%;  margin:0 2% 0 0}
.landing-third-2{ float:left;  width:31%;  margin:0 1%}
.landing-third-3{ float:left;  width:31%;  margin:-8px 0 0 2%}
.landing-third-1 h1, .landing-third-2 h1, .landing-third-3 h1{ color:#000;  font-size:1.25em;  border-bottom:2px solid #666}

/*.landing-third-3 h1.widget-title{visibility:collapse; color:transparent; font-size:1px}
*/
.landing-third-3 .widget{ margin:.5em 0 0 1em}
.landing-third-3 .cat-post-widget{ font-weight:normal;  font-size:1em;  line-height:1.4em}
.landing-third-3 .cat-post-widget .post-title{ font-size:1.1em;  line-height:1em}
.landing-third-3 .cat-post-widget .post-title{ text-decoration:none}

/*--- splitting styles ----*/
#main .left_picture{ float:left;  width:30%}
#main .left_picture img, #main .right_picture img{ width:90%;  margin-right:10%;  height:auto}
#main .right_text{ float:right;  width:65%}
#main .left_text{ float:left;  width:65%}
#main .right_picture{ float:right;  width:30%}
#page .left-side{ float:left;  width:48%}
#page .right-side{ float:right;  width:48%}

/*--- FEATURED IMAGE CONTROLS ---*/
img.attachment-thumbnail{ float:left;  margin-right:.5em}

/*---CATEGORY TITLE ---*/
h1.page-title, h1.entry-title{  color:#322215;   font-size:1.5em;   padding-left:1.25em;   line-height:1.5em;   background-image:url(./images/logo-accent.png);  background-repeat:no-repeat}
h1.page-title a, h1.entry-title a{ color:#322215;  text-decoration:none}

/*------------------- Menus-----------------------------*/
.main-navigation{ clear:both;  display:block;  float:left;  width:100%;  height:3em}
.main-navigation ul{ list-style:none;  padding-left:0;  text-align:center;  margin-top:.5em}
.main-navigation li{ position:relative;  margin-right:.05em;  font-size:1em;  display:inline-block;  padding:.5em 2em;  background:#322215;  color:#fff;  -webkit-border-radius:10px 10px 0 0;  border-radius:10px 10px 0 0}
.main-navigation li:last-child{ position:relative;  margin-right:0;  font-size:1em;  margin-bottom:.25em;  display:inline-block;  padding:.5em 2em}
.main-navigation li:hover{ background:#00121d}
.main-navigation li:hover a{ color:#fff}
.main-navigation a{ display:block;  text-decoration:none;  font-weight:bold;  color:#fff}
.main-navigation a:hover{ color:#fff}
.main-navigation li.current-menu-item a{ background:transparent;}
.main-navigation .current-menu-item{ color:#fff;  background:#00649c}
.main-navigation ul ul{ margin-left:0;  display:block;  float:left;  position:absolute;  top:2em;  left:0;  z-index:99999;  text-align:left;  visibility:collapse;  opacity:.001;  transition:all .5s ease-in-out 0s;  background:#00649c}
.main-navigation ul ul li{ background:#00649c;  -webkit-border-radius:0;  border-radius:0}
.main-navigation ul ul li a:hover{ text-decoration:underline}
.main-navigation ul ul ul{ left:100%;  top:0}
.main-navigation ul ul a{ width:300px}
.main-navigation ul li:hover >ul{ display:block;  opacity:1;  visibility:visible;  transition:all 0.25s ease 0s;  width:300px;  overflow:hidden}
.site-main .comment-navigation, .site-main .paging-navigation, .site-main .post-navigation{ margin:0 0 1.5em;  overflow:hidden}
.comment-navigation .nav-previous, .paging-navigation .nav-previous, .post-navigation .nav-previous{ float:left;  width:50%}
.comment-navigation .nav-next, .paging-navigation .nav-next, .post-navigation .nav-next{ float:right;  text-align:right;  width:50%}

/*---------- CUSTOMIZATIONS---------------*/
.clear{ clear:both}

/*-- for post navigation--*/
.left-split-nav{ float:left;  width:48%;  text-align:left}
.right-split-nav{ float:right;  width:48%;  text-align:right}

/*-- for sidebar--*/
#secondary h1.widget-title{ background-color:transparent;  border-bottom:solid;  font-size:1.25em;  font-weight:bold;  font-family:Arial,Tahoma,Verdana}
#secondary{ width:25%;  max-width:250px;  font-size:.75em}
#secondary.widget-area{ padding:1em}
#secondary .widget-area img{ width:80%;  height:auto;  margin-top:2em}
#secondary li{ list-style:none;  display:block;  margin-left:.5em}
#secondary li a{ color:#fff;  font-weight:bold;  text-decoration:none}
#secondary li.current-menu-item a{ color:#446592;  width:100%;  display:block;  background-color:#fff;  margin-left:-.25em;  padding-left:.25em}
#secondary li a:hover{ color:#000;  width:100%;  display:block;  background-color:#fff;  margin-left:-.25em;  padding-left:.25em}
#secondary ul{ margin-left:0em}

/*--header region --*/
#full-top{ border-bottom:solid 3px #322215;  background:#fff;  /* Old browsers */ background:-moz-linear-gradient(top,#fff 46%,#c3d4e7 86%,#c3d4e7 89%,#fcffac 92%,#689acd 96%,#689acd 100%);  /* FF3.6+*/ background:-webkit-gradient(linear,left top,left bottom,color-stop(46%,#fff),color-stop(86%,#c3d4e7),color-stop(89%,#c3d4e7),color-stop(92%,#fcffac),color-stop(96%,#689acd),color-stop(100%,#689acd));  /* Chrome,Safari4+*/ background:-webkit-linear-gradient(top,#fff 46%,#c3d4e7 86%,#c3d4e7 89%,#fcffac 92%,#689acd 96%,#689acd 100%);  /* Chrome10+,Safari5.1+*/ background:-o-linear-gradient(top,#fff 46%,#c3d4e7 86%,#c3d4e7 89%,#fcffac 92%,#689acd 96%,#689acd 100%);  /* Opera 11.10+*/ background:-ms-linear-gradient(top,#fff 46%,#c3d4e7 86%,#c3d4e7 89%,#fcffac 92%,#689acd 96%,#689acd 100%);  /* IE10+*/ background:linear-gradient(to bottom,#fff 46%,#c3d4e7 86%,#c3d4e7 89%,#fcffac 92%,#689acd 96%,#689acd 100%);  /* W3C */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff',endColorstr='#689acd',GradientType=0 );  /* IE6-9 */}
#upper-band{  width:100%;   background-image:url(./images/repeating-clouds.png);  background-repeat:repeat-x;  background-position:left 15px}
.masthead-holder{ width:100%;  max-width:1200px;  margin:0 auto;  top:0;  background:transparent}
#masthead{ max-width:1200px;  background-color:transparent;  padding-top:1em;  top:2em;  color:#fff}
#masthead .site-branding{ margin:0}
.site-branding h1.site-title{ font-size:2em;  display:inline-block;  text-transform:uppercase;  font-family:#001f30;  margin-top:1.5em}
.site-branding h1.site-title a{ text-decoration:none;  font-weight:bold;  color:#001f30}
.site-branding h2.mastehead-info{ font-size:1em;  display:inline-block;  font-style:italic;  margin-left:1.5em;  font-family:Arial,Tahoma,Verdana;  color:#001f30}
.site-header{ width:100%;  z-index:999;  color:#000}
#left-head{ float:left;  width:75%}
#left-head-1{ float:left;  width:15%}
#left-head-2{ float:right;  width:83%}
#right-head{ float:right;  width:25%}

/*----- Content Area ---------------------*/
/*--- splitting styles ----*/
#main .left_picture{ float:left;  width:30%}
#main .left_picture img, #main .right_picture img{ width:90%;  margin-right:10%;  height:auto}
#main .right_text{ float:right;  width:65%}
#main .left_text{ float:left;  width:65%}
#main .right_picture{ float:right;  width:30%}

/*-- DEFINES CONTENT AREA --*/
.content-area{ float:left;  margin:1em -25% 0 0;  width:100%}
.site-main{ margin:0 25% 0 0}

/*-- FULL WIDTH PAGES --*/
.full-content-area{ float:left;  margin:1em 0 0 0;  width:100%}
.full-site-main{ margin:0}
.site-content .widget-area{ float:right;  overflow:hidden;  width:30%;  margin-top:1em}
#page{ width:100%;  max-width:1200px;  margin-left:auto;  margin-right:auto;  background-color:transparent;  margin-top:.25em;  margin-bottom:1em}
#main{ padding-left:0em}

/*-- footer region --*/
.footer-section{ float:left;  width:33%}
.site-footer, .site-info{ clear:both}
.site-info{ border-top:2px solid #fff;  text-align:right}
.site-info p{ font-size:.75em;  margin:1em 2em}
#foot-constraint{ width:100%;  max-width:1200px;  margin-left:auto;  margin-right:auto;  margin-top:1em;  margin-bottom:1em}
#colophon.site-footer{ background-color:#322215;  border-top:1px solid #ccc;  color:#fff;  border-top:solid 1px #fff}
#colophon.site-footer a{ color:#fff;  text-decoration:underline}
#colophon.site-footer a:hover{ color:#fff;  text-decoration:underline}
#colophon.site-footer h4.widgettitle, #colophon.site-footer h1.widget-title, #colophon.site-footer h1{ color:#fff;  font-weight:normal;  font-size:1.1em;  margin-right:1em}

/*-- typography --*/
/*-------Reset -----------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, 
code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{ border:0;  font-family:inherit;  font-size:100%;  font-style:inherit;  font-weight:inherit;  margin:0;  outline:0;  padding:0;  vertical-align:baseline}
html{ font-size:62.5%;  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */ overflow-y:scroll;  /* Keeps page centered in all browsers regardless of content height */ -webkit-text-size-adjust:100%;  /* Prevents iOS text size adjust after orientation change,without disabling user zoom */ -ms-text-size-adjust:100%;  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */}
*, *:before, *:after{ /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */ -webkit-box-sizing:border-box;  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */ -moz-box-sizing:border-box;  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */ box-sizing:border-box}
body{ background:#fff}
article, aside, details, figcaption, figure, footer, header, main, nav, section{ display:block}
ol, ul{ list-style:none}
table{ /* tables still need 'cellspacing="0"' in the markup */ border-collapse:separate;  border-spacing:0}
caption, th, td{ font-weight:normal;  text-align:left}
blockquote:before, blockquote:after, q:before, q:after{ content:""}
blockquote, q{ quotes:""""}
a:focus{ outline:thin dotted}
a:hover, a:active{ outline:0}
a img{ border:0}

/*------Typography---------------------------*/
body, button, input, select, textarea{ color:#00121d;  font-family:Arial,Tahoma,Verdana;  font-size:1.5em;  line-height:1.5}
h2, h3, h4, h5, h6{ clear:both;  color:#322215}
h1{ font-size:1.5em;  font-weight:bold;  color:#322215;  line-height:1em;  margin-bottom:.5em}
h2{ font-size:1.4em;  line-height:1em}
h3{ font-size:1.25em;  font-weight:bold;  line-height:1em}
h4{ font-size:1.25em;  line-height:1em}
h5{ font-size:1.1em;  font-weight:bold}
h6{ font-size:1.25em}
p{ margin-bottom:1.5em;  line-height:1.25em;  font-size:1.15em}
b, strong{ font-weight:bold}
dfn, cite, em, i{ font-style:italic}
blockquote{ margin:0 1.5em}
address{ margin:0 0 1.5em}
pre{ background:#eee;  font-family:"Courier 10 Pitch",Courier,monospace;  font-size:15px;  font-size:1.5em;  line-height:1.6;  margin-bottom:1.6em;  max-width:100%;  overflow:auto;  padding:1.6em}
code, kbd, tt, var{ font:15px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace}
abbr, acronym{ border-bottom:1px dotted #666;  cursor:help}
mark, ins{ background:#e5e5e5;  text-decoration:none}
sup, sub{ font-size:75%;  height:0;  line-height:0;  position:relative;  vertical-align:baseline}
sup{ bottom:1ex}
sub{ top:.5ex}
small{ font-size:75%}
big{ font-size:125%}

/*-------Elements--------------------*/
hr{ background-color:#e5e5e5;  border:0;  height:1px;  margin-bottom:1.5em}
ul, ol{ margin:0 0 1.5em 3em}
ul{ list-style:disc}
ol{ list-style:decimal}
li >ul, li >ol{ margin-bottom:0;  margin-left:1.5em}
dt{ font-weight:bold}
dd{ margin:0 1.5em 1.5em}
img{ height:auto;  /* Make sure images are scaled correctly. */ max-width:100%;  /* Adhere to container width. */}
figure{ margin:0}
table{ margin:0 0 1.5em;  width:100%}

/*---JMC ADDITION---*/
td{ vertical-align:top}
th{ font-weight:bold}

/*-----------Forms----------------------*/
button, input, select, textarea{ font-size:100%;  /* Corrects font size not being inherited in all browsers */ margin:0;  /* Addresses margins set differently in IE6/7,F3/4,S5,Chrome */ vertical-align:baseline;  /* Improves appearance and consistency in all browsers */ *vertical-align:middle;  /* Improves appearance and consistency in IE6/IE7 */}
button, input[type="button"], input[type="reset"], input[type="submit"]{ border:1px solid #e5e5e5;  border-radius:3px;  background:#e5e5e5;  box-shadow:inset 0 1px 0 rgba(255,255,255,0.5),inset 0 15px 17px rgba(255,255,255,0.5),inset 0 -5px 12px rgba(0,0,0,0.05);  color:rgba(0,0,0,0.8);  cursor:pointer;  /* Improves usability and consistency of cursor style between image-type 'input' and others */ -webkit-appearance:button;  /* Corrects inability to style clickable 'input' types in iOS */ font-size:12px;  font-size:1.2em;  line-height:1;  padding:.6em 1em .4em;  text-shadow:0 1px 0 rgba(255,255,255,0.8)}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{ border-color:#ccc #bbb #aaa #bbb;  box-shadow:inset 0 1px 0 rgba(255,255,255,0.8),inset 0 15px 17px rgba(255,255,255,0.8),inset 0 -5px 12px rgba(0,0,0,0.02)}
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, 
input[type="submit"]:active{ border-color:#aaa #bbb #bbb #bbb;  box-shadow:inset 0 -1px 0 rgba(255,255,255,0.5),inset 0 2px 5px rgba(0,0,0,0.15)}
input[type="checkbox"], input[type="radio"]{ padding:0;  /* Addresses excess padding in IE8/9 */}
input[type="search"]{ -webkit-appearance:textfield;  /* Addresses appearance set to searchfield in S5,Chrome */ -webkit-box-sizing:content-box;  /* Addresses box sizing set to border-box in S5,Chrome (include -moz to future-proof) */ -moz-box-sizing:content-box;  box-sizing:content-box;  font-size:1.5em}
input[type="search"]::-webkit-search-decoration{ /* Corrects inner padding displayed oddly in S5,Chrome on OSX */ -webkit-appearance:none}
button::-moz-focus-inner, input::-moz-focus-inner{ /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */ border:0;  padding:0}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea{ color:#666;  border:1px solid #ccc;  border-radius:3px}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus{ color:#111}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"]{ padding:3px}
textarea{ overflow:auto;  /* Removes default vertical scrollbar in IE6/7/8/9 */ padding-left:3px;  vertical-align:top;  /* Improves readability and alignment in all browsers */ width:98%}

/*----------Accessibility-------------------------*/
/* Text meant only for screen readers */
.screen-reader-text{ clip:rect(1px,1px,1px,1px);  position:absolute !important}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus{ background-color:#f1f1f1;  border-radius:3px;  box-shadow:0 0 2px 2px rgba(0,0,0,0.6);  clip:auto !important;  color:#21759b;  display:block;  font-size:14px;  font-weight:bold;  height:auto;  left:5px;  line-height:normal;  padding:15px 23px 14px;  text-decoration:none;  top:5px;  width:auto;  z-index:100000;  /* Above WP toolbar */}

/*-----------------Alignments----------------------------*/
.alignleft{ display:inline;  float:left;  margin-right:1.5em}
.alignright{ display:inline;  float:right;  margin-left:1.5em}
.aligncenter{ clear:both;  display:block;  margin:0 auto}

/*-----------------Clearings-----------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, 
.site-content:before, .site-content:after, .site-footer:before, .site-footer:after{ content:'';  display:table}
.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after{ clear:both}

/*----------Widgets-----------------------*/
.widget{ margin:0 0 1.5em}

/* Make sure select elements fit in widgets */
.widget select{ max-width:100%}

/* Search widget */
.widget_search .search-submit{ display:none}

/*----------------Posts and pages-------------------*/
.hentry{ margin:0 0 1.5em}
.byline, .updated{ display:none}
.single .byline, .group-blog .byline{ display:inline}
.page-content, .entry-content, .entry-summary{ margin:1em 0 0}
.page-links{ clear:both;  margin:0 0 1.5em}

/*----------10.2 Asides--------------*/
.blog .format-aside .entry-title, .archive .format-aside .entry-title{ display:none}

/*---------10.3 Comments-----------------------*/
.comment-content a{ word-wrap:break-word}

/*-------------Infinite scroll--------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, .infinite-scroll.neverending .site-footer{ /* Theme Footer (when set to scrolling) */ display:none}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer{ display:block}

/*---------------Media-------------------------------*/
.page-content img.wp-smiley, .entry-content img.wp-smiley, .comment-content img.wp-smiley{ border:none;  margin-bottom:0;  margin-top:0;  padding:0}
.wp-caption{ border:1px solid #ccc;  margin-bottom:1.5em;  max-width:100%}
.wp-caption img[class*="wp-image-"]{ display:block;  margin:1.2% auto 0;  max-width:98%}
.wp-caption-text{ text-align:center}
.wp-caption .wp-caption-text{ margin:0.8075em 0}
.site-main .gallery{ margin-bottom:1.5em}
.site-main .gallery a img{ border:none;  height:auto;  max-width:90%}
.site-main .gallery dd, .site-main .gallery figcaption{ margin:0}

/* Make sure embeds and iframes fit their containers */
embed, iframe, object{ max-width:100%}

/* ---  RESPONSIVE --- Small menu */
.menu-toggle{  cursor:pointer;   display:none}

@media (max-width:1100px){  
  .main-navigation ul{    list-style:none;     padding-left:0;     text-align:center;     margin-top:.75em}
  .main-navigation a{    font-size:1.25em;     color:#fff;     background:transparent}
  .main-navigation li{    position:relative;     margin-right:.05em;     font-size:.75em;     display:inline-block;     padding:.5em .5em;     background:#00121d;     color:#fff;     -webkit-border-radius:10px 10px 0 0;     border-radius:10px 10px 0 0}
  .main-navigation li:last-child{    position:relative;     margin-right:0;     font-size:.75em;     margin-bottom:.25em;     display:inline-block;     padding:.5em .5em}
  #page{    width:96%;     max-width:1000px;     margin-left:auto;     margin-right:auto;     background-color:transparent;     margin-top:.25em;     margin-bottom:1em}
  .masthead-holder{    width:96%;     max-width:1000px;     margin:0 auto;     top:0;     background:transparent}
}
@media (max-width:825px){  
  .landing-third-1,.landing-third-2,.landing-third-3{    float:left;     width:100%;     margin:2em 0 0 0}
  .landing-third-3 .widget{    margin:0}
  #page .left-side, #page .right-side{    float:left;     width:100%}
  #page .left-side{    border-bottom:2px solid #666;     margin-bottom:2em}
  .footer-section{    float:left;     width:100%;     text-align:center}
  .main-navigation{    margin-top:0em}
  .main-navigation ul{    list-style:none;     padding-left:0;     text-align:center;     margin-top:1em}
  .main-navigation li, .main-navigation li:last-child{    font-size:.7em}
  .content-area{    float:left;     margin:0;     width:100%}
  .site-main{    margin:0}
  #secondary{    width:80%;     max-width:650px}
  #secondary.widget-area{    float:left;     margin:0;     width:80%;     margin-left:10%}
}
@media screen and (max-width:725px){  
  .menu-toggle,.main-navigation.toggled .nav-menu{    display:block}
  h1.menu-toggle{    color:#000;     font-size:1.5em;     padding:1em 0;     padding-left:1.5em;     line-height:1.5em;     background-image:url(./images/logo-accent.png);  background-repeat:no-repeat;  background-position:0 center}
 .main-navigation{ height:auto}
 .main-navigation .current-menu-item{ background:transparent}
 .main-navigation li.current-menu-item a{ background:transparent}
 .main-navigation ul{ display:none;  margin-left:1em}
 .main-navigation li, .main-navigation li:last-child{ float:none;  width:100%;  text-align:left;  background:transparent;  -webkit-border-radius:0;  border-radius:0;  font-size:1.25em}
 .main-navigation a{ display:block;  text-decoration:none;  font-weight:bold;  color:#00121d;  background:transparent}
 .main-navigation ul li:hover >ul{ visibility:hidden}
}
@media (max-width:600px){ #left-head{ float:left;  width:100%}
 #left-head-1{ float:left;  width:100%}
 #left-head-2{ float:left;  width:100%}
 #right-head{ float:right;  width:25%}
 .main-navigation{ margin-top:0em}
 .content-area{ float:left;  margin:0;  width:100%}
 .site-main{ margin:0}
 #secondary{ width:80%;  max-width:650px}
 #secondary.widget-area{ float:left;  margin:0;  width:80%;  margin-left:10%}

 /*--- splitting styles ----*/
 #main .left_picture, #main .right_text, #main .left_text, #main .right_picture{ float:left;  width:100%}
 #main .left_picture img, #main .right_picture img{ width:60%;  margin-right:20%;  margin-left:20%;  height:auto}
}
@media (max-width:450px){ 
  #left-head,#right-head{ float:left;  width:100%}
 .site-info{ border-top:2px solid #fff;  text-align:center}
}

